## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Import the requests library.
import requests
import gmaps
# Import the API key.
from config import weather_api_key
from config import g_key


# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Saint-Philippe,RE,-21.3585,55.7679,82.22,85,56,10.02,light rain,2022-01-04 15:07:54
1,1,Krasnoselkup,RU,65.7000,82.4667,18.72,95,100,19.46,light snow,2022-01-04 15:07:55
2,2,Husavik,IS,66.0449,-17.3389,13.57,92,70,12.86,broken clouds,2022-01-04 15:03:55
3,3,Boyolangu,ID,-8.1181,111.8935,76.53,81,100,1.36,overcast clouds,2022-01-04 15:07:55
4,4,Lamballe,FR,48.4676,-2.5144,44.71,90,98,8.99,overcast clouds,2022-01-04 15:07:56

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Saint-Philippe,RE,-21.3585,55.7679,82.22,85,56,10.02,light rain,2022-01-04 15:07:54
3,3,Boyolangu,ID,-8.1181,111.8935,76.53,81,100,1.36,overcast clouds,2022-01-04 15:07:55
10,10,Rikitea,PF,-23.1203,-134.9692,76.39,74,100,4.59,light rain,2022-01-04 15:07:58
12,12,Maragogi,BR,-9.0122,-35.2225,84.63,63,77,12.01,broken clouds,2022-01-04 15:07:58
14,14,Nhulunbuy,AU,-12.2333,136.7667,84.81,84,100,10.36,overcast clouds,2022-01-04 15:07:59
15,15,Vaini,TO,-21.2000,-175.2000,80.76,89,75,13.80,light rain,2022-01-04 15:07:59
16,16,Emerald,AU,-23.5333,148.1667,79.34,35,22,7.27,few clouds,2022-01-04 15:08:00
18,18,Mogadishu,SO,2.0371,45.3438,80.15,84,100,15.48,overcast clouds,2022-01-04 15:08:00
20,20,Morong,PH,14.5115,121.2393,78.15,79,25,9.17,scattered clouds,2022-01-04 15:08:01
21,21,Cape Town,ZA,-33.9258,18.4232,78.12,53,16,8.01,few clouds,2022-01-04 15:04:55

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                216
City                   216
Country                214
Lat                    216
Lng                    216
Max Temp               216
Humidity               216
Cloudiness             216
Wind Speed             216
Current Description    216
Date                   216
dtype: int64

In [6]:
preferred_cities_df.count()

City_ID                216
City                   216
Country                214
Lat                    216
Lng                    216
Max Temp               216
Humidity               216
Cloudiness             216
Wind Speed             216
Current Description    216
Date                   216
dtype: int64

In [7]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Saint-Philippe,RE,-21.3585,55.7679,82.22,85,56,10.02,light rain,2022-01-04 15:07:54
3,3,Boyolangu,ID,-8.1181,111.8935,76.53,81,100,1.36,overcast clouds,2022-01-04 15:07:55
10,10,Rikitea,PF,-23.1203,-134.9692,76.39,74,100,4.59,light rain,2022-01-04 15:07:58
12,12,Maragogi,BR,-9.0122,-35.2225,84.63,63,77,12.01,broken clouds,2022-01-04 15:07:58
14,14,Nhulunbuy,AU,-12.2333,136.7667,84.81,84,100,10.36,overcast clouds,2022-01-04 15:07:59
...,...,...,...,...,...,...,...,...,...,...,...
693,693,Paso De Los Toros,UY,-32.8167,-56.5167,88.83,48,97,11.07,overcast clouds,2022-01-04 15:12:22
697,697,Yuli,NG,9.6989,10.2744,87.06,18,89,6.46,overcast clouds,2022-01-04 15:12:24
701,701,San Rafael,AR,-34.6177,-68.3301,79.11,30,0,9.24,clear sky,2022-01-04 15:12:25
710,710,Axim,GH,4.8699,-2.2405,85.30,60,89,9.01,overcast clouds,2022-01-04 15:12:13
712,712,Caxito,AO,-8.5785,13.6643,81.25,83,100,3.65,light rain,2022-01-04 15:12:28

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Saint-Philippe,RE,82.22,light rain,-21.3585,55.7679,
3,Boyolangu,ID,76.53,overcast clouds,-8.1181,111.8935,
10,Rikitea,PF,76.39,light rain,-23.1203,-134.9692,
12,Maragogi,BR,84.63,broken clouds,-9.0122,-35.2225,
14,Nhulunbuy,AU,84.81,overcast clouds,-12.2333,136.7667,
15,Vaini,TO,80.76,light rain,-21.2000,-175.2000,
16,Emerald,AU,79.34,few clouds,-23.5333,148.1667,
18,Mogadishu,SO,80.15,overcast clouds,2.0371,45.3438,
20,Morong,PH,78.15,scattered clouds,14.5115,121.2393,
21,Cape Town,ZA,78.12,few clouds,-33.9258,18.4232,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
        
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
nan_value = float("NaN")

hotel_df.replace("", nan_value, inplace=True)
clean_hotel_df = hotel_df.dropna(subset = ["Hotel Name"], inplace=False)

clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Saint-Philippe,RE,82.22,light rain,-21.3585,55.7679,Saint-Philippe
3,Boyolangu,ID,76.53,overcast clouds,-8.1181,111.8935,Tulungagung
10,Rikitea,PF,76.39,light rain,-23.1203,-134.9692,Rikitea
12,Maragogi,BR,84.63,broken clouds,-9.0122,-35.2225,Maragogi
14,Nhulunbuy,AU,84.81,overcast clouds,-12.2333,136.7667,Nhulunbuy
...,...,...,...,...,...,...,...
693,Paso De Los Toros,UY,88.83,overcast clouds,-32.8167,-56.5167,Paso de los Toros
697,Yuli,NG,87.06,overcast clouds,9.6989,10.2744,Bajoga
701,San Rafael,AR,79.11,clear sky,-34.6177,-68.3301,San Rafael
710,Axim,GH,85.30,overcast clouds,4.8699,-2.2405,Axim
712,Caxito,AO,81.25,light rain,-8.5785,13.6643,Caxito

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))