## Deliverable 3. Create a Travel Itinerary Map.

In [29]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [30]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Saint-Philippe,RE,82.22,light rain,-21.3585,55.7679,Saint-Philippe
1,3,Boyolangu,ID,76.53,overcast clouds,-8.1181,111.8935,Tulungagung
2,10,Rikitea,PF,76.39,light rain,-23.1203,-134.9692,Rikitea
3,12,Maragogi,BR,84.63,broken clouds,-9.0122,-35.2225,Maragogi
4,14,Nhulunbuy,AU,84.81,overcast clouds,-12.2333,136.7667,Nhulunbuy

In [31]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [32]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df['City'] == "Harper"]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
56,174,Harper,LR,82.63,light rain,4.375,-7.7169,Harper

In [34]:
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Axim"]
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
211,710,Axim,GH,85.3,overcast clouds,4.8699,-2.2405,Axim

In [35]:
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Niamey"]
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
112,352,Niamey,NE,86.5,clear sky,13.5137,2.1098,Niamey

In [36]:
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Luba"]
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
45,136,Luba,GQ,81.7,overcast clouds,3.4568,8.5547,Luba

In [37]:
vacation_end = vacation_df.loc[vacation_df['City'] == "Harper"]
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
56,174,Harper,LR,82.63,light rain,4.375,-7.7169,Harper

In [38]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]
print(f' Start:{start}, End:{end}')
print(f' Stop1:{stop1}, Stop2:{stop2}, Stop3:{stop3}')

 Start:(4.375, -7.7169), End:(4.375, -7.7169)
 Stop1:(4.8699, -2.2405), Stop2:(13.5137, 2.1098), Stop3:(3.4568, 8.5547)

In [39]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()

city_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING")

fig.add_layer(city_itinerary)

fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,174,Harper,LR,82.63,light rain,4.3750,-7.7169,Harper
1,710,Axim,GH,85.30,overcast clouds,4.8699,-2.2405,Axim
2,352,Niamey,NE,86.50,clear sky,13.5137,2.1098,Niamey
3,136,Luba,GQ,81.70,overcast clouds,3.4568,8.5547,Luba

In [41]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [42]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))